img {
    width: 300px;
    height: 200px;
    background: rgba(124, 124, 124, 0.342);
    border: 0;
    opacity: 0;
    transition: opacity 1s linear;
}

img.loaded {
    opacity: 1;
}

.matrix {
    font-size: 40px;
}